flask
flask-cors
flask-sqlalchemy
flask-bcrypt
flask_session
flask-migrate
langchain
accelerate
transformers
pinecone-client
openai
tiktoken
sentence_transformers
pypdf
chainlit
lingua-language-detector
python-iso639
faiss-cpu
deep_translator
python-dotenv
torch
unstructured[pdf]
unstructured[docx]
unstructured[pdf]
faster-whisper
spacy
pymupdf
gtts
